<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" media="screen" />
    
    <title>Sofia_Freitas</title>
</head>
<body>
    <header>
        <div class="HeadCabecalho">
            <div class="cabecalho">
                <nav>
                    <img  id="img_header" src="/assets/images/PICSF.png">
                    <ul id="menu">
                        <li> Home</li>
                        <li>About</li>
                        <li>Projects</li>
                        <li>Contact</li>
                    </ul>
                </nav>
            </div>
            
        </div>
        
        
    </header>

    <main>
        <section id="page_1">
            <div id="dados">
                <p>I'm</p>
                <h1 id="name">Sofia Freitas</h1>
                <p>Web developer</p>

                <div id="botoes">
                    <button>
                        <img id="github" src="#">
                    </button>

                    <button>
                        <img id="Linkedln" src="#">
                    </button>

                    <button>
                        <p id="buttonDownload" src="#"> Download CV</p>
                    </button>
                </div>
            </div>
        </section>
    </main>
    <script src="/assets/js/script.js"></script>
</body>
</html>

