<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" media="screen" />
    
    <title>Sofia_Freitas</title>
</head>
<body>
    <header>
        <div class="HeadCabecalho">
            <div class="cabecalho">
                <nav>
                    <img  id="img_header" src="/assets/images/PICSF.png">
                    <ul id="menu">
                        <li> Home</li>
                        <li>About</li>
                        <li>Projects</li>
                        <li>Contact</li>
                    </ul>
                </nav>
            </div> 
        </div> 
    </header>

    <main>
        <section id="page_1">
           
            <div id="Info">
                <div id="dados">
                    <div id="dadosN">
                        <p id="N1">I'm</p>
                        <h1 id="name">Sofia Freitas</h1>
                        <p id="N2">Web developer</p>
                    </div>
                    
                </div>
                    <div id="botoes">
                        <div id="redes">
                            <div id="Bu1" class="button">
                                <button>
                                    <img id="github" src="/assets/images/github.svg" >
                                </button>
                            </div>
                            <div id="Bu2" class="button">
                                <button>
                                    <img id="Linkedln" src="/assets/images/linkedin.svg">
                                </button>
                            </div>
        
                            
        
                        </div>
                        <div id="BotCV">
                            <button>
                                <p id="buttonDownload" src="#"> Download CV</p>
                            </button>
                        </div>
                        
                    </div>
            </div>

            
        </section>
        <section id="page2">
            <div id="About-me">
                <div id="P1">
                    <div id="Sobre-mim">
                        <p id="Sobre">About me</p>
                            <div id="picture-me">
                                 <img id= "Pic-foto" src="/assets/images/pinguim.jpg">
                             </div>
                    </div>
                    
                    <div id="botoes1">
                        <div id="redes1">
                            <div id="Bu11" class="button">
                                <button>
                                    <img id="github" src="/assets/images/github.svg" >
                                </button>
                            </div>
                            <div id="Bu22" class="button">
                                <button>
                                    <img id="Linkedln" src="/assets/images/linkedin.svg">
                                </button>
                            </div>
                        </div>
        
                        <div id="BotCV1">
                            <button>
                                <p id="buttonDownload" src="#"> Download CV</p>
                            </button>
                        </div>
                    </div>
        
                </div>
                
                <div id="P2">
                    <div id="Text-me">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam perferendis, voluptates repudiandae dolore 
                            incidunt eius facere id, corrupti aperiam excepturi aliquam necessitatibus ex architecto voluptate assumenda? 
                            Aliquam repudiandae perferendis quibusdam!acddcwece e ef r
                        </p>
        
                        <div id="tech">
                            <p>Tecnologias</p>
                            <img src="/assets/images/js.png" id="JS">
                            <img src="/assets/images/html.png" id="HTML">
                            <img src="/assets/images/css.png" id="CSS">
                            <img src="/assets/images/mysql.png" id="MYSQL">
                            <img src="/assets/images/sql.png" id="SQL">
                        </div>
                    </div>
                </div>
                
            </div>
            

        </section>
    </main>
    <script src="/assets/js/script.js"></script>
</body>
</html>

