@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


:root{
    --CorBackground:#1A1A2C;
    --CorMenu:#8E74E2;
    --CorText: #E2E8F0;
    --CorDescricao: #c1c4c7;


}

body{
    background-color: var(--CorBackground)
}
.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; /* Isso garante que o cabeçalho ocupe toda a largura */
    color:var(--CorText);
    
}

#img_header {
    width: 130px;
    height: 130px;
    margin-right: 20px; /* Espaçamento entre o logo e o menu */
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1; /* Faz o menu ocupar o espaço restante */
    
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav ul li {
    margin: 0 20px; /* Espaçamento entre os itens do menu */
    flex-grow: 1;
    list-style-type: none;
}

#menu{
    align-items: flex-end;
    padding-left: 60%;
}

#menu li{
    color: var(--CorMenu);
}
#dados{
    display: grid;
    justify-content: center;
    align-items: center;
    filter: none;
    
   
}
h1{
    font-size: 68px;
    color:var(--CorMenu)
}
#N1{
    font-size: 24px;
    color: var(--CorText)
}
#N2{
    font-size: 32px;
    color: var(--CorText)
}

#botoes{
display:flex;
justify-content: start;
align-items: center;
padding-top: 30px;


}

#redes button{
    width: 40px;
    height: 40px;
    border-radius: 7px;
    background-color: var(--CorBackground);
    border-bottom: solid;
    border-color: var(--CorText);
    border-bottom-style: solid;
    border-bottom-width: 0.5px;
    
}

#redes{
    display: flex;
}

#BotCV button{
    width: 150px;
    height: 40px;
    border-radius: 7px;
    color: var(--CorText);
    background-color: var(--CorBackground);
    border-bottom: solid;
    border-color: var(--CorText);
    border-bottom-style: solid;
    border-bottom-width: 0.5px;
}

#Bu1{
    display: flex;
    justify-content: center;
    padding: 10px;
}

#Bu2{
    display: flex;
    justify-content: center;
    padding: 10px;
}
#BotCV{
    display: flex;
    justify-content: center;
    padding: 10px;
    
}

#Info{
    display: grid;
    justify-content: start;
    align-content: center;
    align-items: center;
    margin-left: 120px;
    margin-top: 10%;
   
}

#Sobre {
    font-size: 32px;
    color: var(--CorMenu);
    margin-bottom: 80px;
}

#About-me{
    margin-top: 200px;
    margin-left: 120px;
   
}

#picture-me img{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-color: #E2E8F0;
}
/**************************************************************/

#botoes1{
    display:flex;
    justify-content: start;
    align-items: center;
    padding-top: 60px;
    margin-left: 30px;
    
    
    }
    
    #redes1 button{
        width: 40px;
        height: 40px;
        border-radius: 7px;
        background-color: var(--CorBackground);
        border-bottom: solid;
        border-color: var(--CorText);
        border-bottom-style: solid;
        border-bottom-width: 0.5px;
        
    }
    
    #redes1{
        display: flex;
    }
    
    #BotCV1 button{
        width: 150px;
        height: 40px;
        border-radius: 7px;
        color: var(--CorText);
        background-color: var(--CorBackground);
        border-bottom: solid;
        border-color: var(--CorText);
        border-bottom-style: solid;
        border-bottom-width: 0.5px;
    }
    
    #Bu11{
        display: flex;
        justify-content: center;
        padding: 10px;
    }
    
    #Bu22{
        display: flex;
        justify-content: center;
        padding: 10px;
    }
    #BotCV1{
        display: flex;
        justify-content: center;
        padding: 10px;
        
    }

/***************************************************************/
#About-me{
    display: grid;
    grid-template-columns: 600px 600px;
}
#About-me span{
    color: var(--CorMenu);
}

#P2{
    margin-top: 80px;
    margin-left: 50px;
}
#Text-me{
    display: block;
    color: var(--CorText);
    line-height: 30px;
    
}
#Text-me p{
    font-size: 16px;
}

#tech{
    margin-top: 30px;
    color: var(--CorMenu);
}

#tech p{
    font-size: 24px;
}
#tech img{
    margin-top: 30px;
    margin-right: 10px;
    width: 40px;
    height: 40px;
}


.title{
    font-size: 32px;
    color: var(--CorMenu);
    margin-left: 120px;
    margin-top: 200px;
}
#description{
    display: flex;
    color: var(--CorDescricao);
    font-size: 14px;
    margin-left: 120px;
    margin-top: 10px;
    align-items: center;
    
}
#description img{
    margin-right: 5px;
}
#grade-de-projetos {
  display: grid;
  grid-template-columns: repeat(2, 28%);
  gap: 1.5rem;
  justify-content: center;
  margin-top: 70px;
  height: 100%;

}
#grade-de-projetos figure img{
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 2%;  
}
figure{
    height: 350px;
}
.descript-project  {
    color: var(--CorMenu);
    margin-left: 10px;
    margin-top: 5px;
    font-size: 18px;

}

.text-project {
    color: var(--CorText);
    margin-left: 10px;
    margin-top: 20px;
    font-size: 14px;

}
a{
    text-decoration: none;
}
#grade-de-projetos figure {
    border-style: solid;
    border-color: var(--CorDescricao);
    border-width: 0.5px;
    border-radius: 2%;
}

#Em-breve{
    display: flex;
    justify-content: center;
    justify-items: center;
    color: var(--CorMenu);
    align-items: center;
    align-content: center;
    
}
#More-project{
    font-size: 24px;
    margin-top: 60px;        
}

#More-project img{
    margin-right: 5px;
    align-items:center ;
}

#grade-de-contatos{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;

}

#grade-de-contatos img{
    width: 45px;
    height: 45px;
    padding: 5px;
    border-style: solid;
    border-radius: 5px;
    border-color: var(--CorText);
    border-width: 0.5px;

}
#conteiner-email {
    justify-items: center;
    justify-content: center;
  
}
#conteiner-email p{
    font-size: 18px;
    color: var(--CorText);
    margin-top: 10px;
    margin-bottom: 10px;
}
#conteiner-git {
    justify-items: center;
    justify-content: center;
  
}
#conteiner-git p{
    font-size: 18px;
    color: var(--CorText);
    margin-top: 10px;
    margin-bottom: 10px;
}
#conteiner-linkedln {
    justify-items: center;
    justify-content: center;
  
}
#conteiner-linkedln p{
    font-size: 18px;
    color: var(--CorText);
    margin-top: 10px;
    margin-bottom: 10px;
}
#conteiner-phone {
    justify-items: center;
    justify-content: center;
  
}
#conteiner-phone p{
    font-size: 18px;
    color: var(--CorText);
    margin-top: 10px;
    margin-bottom: 10px;
}
#conteiner-email span{
    color: var(--CorMenu);
    
}
#conteiner-git span{
    color: var(--CorMenu);
}
#conteiner-linkedln span{
    color: var(--CorMenu);
}
#conteiner-phone span{
    color: var(--CorMenu);
}
#linha {
    width: 100%;
    border-bottom: 1px solid var(--CorDescricao);
  }
footer{
    margin-top: 100px;
    color: var(--CorDescricao);
}
footer p{
    margin-top: 20px;
    margin-bottom: 20px;
}
#rodape  p{
    display: flex;
    justify-content: center;
    justify-items: center;
}

#rodape  img{
    margin-right: 5px;
    width: 15px;
}
